{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'main/style/style.css' %}">
	<title>Authorization</title>
</head>
<body>
	<form method="GET">
  		<input checked="" id="signin" name="action" type="radio" value="signin">
  		<label for="signin">
  			Sign in
  		</label>
  		<input id="signup" name="action" type="radio" value="signup">
  		<label for="signup">
  			Sign up
  		</label>
	  	<div id="wrapper">
	    	<div id="arrow"></div>
	    	<input id="login" name="login" placeholder="Login" type="text">
	    	<input id="pass" name="password" placeholder="Password" type="password">
	    	<input id="repass" name="repass" placeholder="Repeat password" type="password">
	  		<input id="mail" name="mail" placeholder="Email" type="text">
	  	</div>
		<button type="submit">
		<span>
		<br>
		Sign in
		<br>
		<br>
		Sign up
		</span>
		</button>
	</form>
	<div id="error_signin" class="modalbackground">
    	<div class="modalwindow">
    		<h1>Error!</h1>
        	<p>The username or password is incorrect</p>
        	<a href=" ">OK</a>
    	</div>
	</div>
	<div id="error_signup" class="modalbackground">
    	<div class="modalwindow">
    		<h1>Error!</h1>
        	<p>The user with this username already exists</p>
        	<a href=" ">OK</a>
    	</div>
	</div>
	<div id="error_signup_password" class="modalbackground">
    	<div class="modalwindow">
    		<h1>Error!</h1>
        	<p>Passwords don't match</p>
        	<a href=" ">OK</a>
    	</div>
	</div>
	<div id="error_reset" class="modalbackground">
    	<div class="modalwindow">
    		<h1>Error!</h1>
        	<p>There is no user with this username</p>
        	<a href=" ">OK</a>
    	</div>
	</div>
	<div id="success_up" class="modalbackground">
    	<div class="modalwindow">
    		<h1>Success!</h1>
        	<p>Registration was successful</p>
        	<a href=" ">OK</a>
    	</div>
	</div>
</body>
</html>